<div class="grid grid-cols-2 md:grid-cols-4 gap-2 mb-8">
  <!-- Tarjeta 1: Nueva Cita -->
  <div 
    routerLink="/dashboard/calendar"
    routerLinkActive="bg-[var(--color-primario)] text-white"
    class="bg-[var(--color-blanco)] hover:bg-[var(--color-primario-hover)] hover:text-[var(--color-blanco)] transition-colors text-[var(--color-primario)] p-6 rounded-lg shadow-md text-center group cursor-pointer"
  >
    <i class="fas fa-calendar-plus block mx-auto text-6xl mb-4" aria-hidden="true"></i>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-16 h-16 mx-auto mb-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
      />
    </svg>
    <h3 class="text-xl font-semibold mt-4">Nueva Cita</h3>
    <p class="mt-2 opacity-80">Consulta todas tus citas en el calendario.</p>
    <button
      routerLink="/dashboard/calendar"
      class="mt-4 inline-block hover:underline cursor-pointer"
    >
      Ver calendario
    </button>
  </div>

  <!-- Tarjeta 2: Nueva Mascota -->
  <div
    routerLink="/dashboard/pets/new"
    routerLinkActive="bg-[var(--color-primario)] text-white"
    class="bg-[var(--color-blanco)] hover:bg-[var(--color-primario-hover)] hover:text-[var(--color-blanco)] transition-colors text-[var(--color-primario)] p-6 rounded-lg shadow-md text-center group cursor-pointer"
  >
    <i class="fas fa-user-plus block mx-auto text-6xl mb-4" aria-hidden="true"></i>
    <svg
      viewBox="0 0 400 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="currentColor"
      class="w-16 h-16 mx-auto mb-4"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M74 211.658C99.0457 142.251 155.836 87.1314 226.717 108.765C276.177 123.861 255.428 151.992 274.648 170.486C285.492 178.829 314.933 167.631 322.548 178.047C329.28 187.259 324.416 204.065 322.548 215.097C315.179 258.597 265.313 265 223.065 265"
          stroke="currentColor"
          stroke-width="12"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M325 194C321.518 187.392 313.572 181.214 304 176"
          stroke="currentColor"
          stroke-width="12"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M132.242 181.22C129.728 194.908 90.9731 288.143 131.095 296.086C205.608 306.73 196.665 221.971 196.665 169"
          stroke="currentColor"
          stroke-width="12"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M234 168V173"
          stroke="currentColor"
          stroke-width="12"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
    <h3 class="text-xl font-semibold mt-4">Nueva Mascota</h3>
    <p class="mt-2 opacity-80">Registra una nueva mascota en el sistema.</p>
    <span class="mt-4 inline-block hover:underline">Registrar mascota</span>
  </div>

  <!-- Tarjeta 3: Nuevo Cliente -->
  <div
    routerLink="/dashboard/clients/new"
    routerLinkActive="bg-[var(--color-primario)] text-white"
    class="bg-[var(--color-blanco)] hover:bg-[var(--color-primario-hover)] hover:text-[var(--color-blanco)] transition-colors text-[var(--color-primario)] p-6 rounded-lg shadow-md text-center group cursor-pointer"
  >
    <i class="fas fa-file-medical block mx-auto text-6xl mb-4" aria-hidden="true"></i>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke="currentColor"
      class="w-16 h-16 mx-auto mb-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
      />
    </svg>
    <h3 class="text-xl font-semibold mt-4">Clientes</h3>
    <p class="mt-2 opacity-80">Listado completo de clientes.</p>
    <span class="mt-4 inline-block hover:underline">Ver lista de clientes</span>
  </div>

  <!-- Tarjeta 4: Nuevo Trabajador -->
  <div
    routerLink="/dashboard/employees/new"
    routerLinkActive="bg-[var(--color-primario)] text-white"
    class="bg-[var(--color-blanco)] hover:bg-[var(--color-primario-hover)] hover:text-[var(--color-blanco)] transition-colors text-[var(--color-primario)] p-6 rounded-lg shadow-md text-center group cursor-pointer"
  >
    <i class="fas fa-file-medical block mx-auto text-6xl mb-4" aria-hidden="true"></i>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke="currentColor"
      class="w-16 h-16 mx-auto mb-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"
      />
    </svg>
    <h3 class="text-xl font-semibold mt-4">Empleados</h3>
    <p class="mt-2 opacity-80">Lista completa de empleados.</p>
    <span class="mt-4 inline-block hover:underline">Ver lista de trabajadores</span>
  </div>
</div>