<div class="max-w-6xl mx-auto my-10 p-6 bg-white rounded-2xl shadow-md">
  <!-- Encabezado -->
  <div
    class="flex flex-col md:flex-row justify-end md:items-center gap-4 mb-6"
  >

    <!-- Botón nuevo cliente -->
    <button
      routerLink="/dashboard/clients/new"
      class="flex items-center gap-2 bg-[var(--color-primario)] hover:bg-[var(--color-primario-hover)] text-white px-4 py-2 rounded-lg font-medium transition-colors cursor-pointer"
    >
      <icon-plus></icon-plus>
      Nuevo Cliente
    </button>
  </div>

  <!-- Título -->
  <div class="flex items-center justify-between mb-4">
    <h2
      class="text-2xl font-bold text-[var(--color-primario)] flex items-center gap-2"
    >
      <icon-user></icon-user>
      Lista de Clientes
    </h2>

    <!-- Buscador -->
    <input
      type="text"
      placeholder="Buscar por nombre o email..."
      class="border rounded-md px-3 py-2 text-sm shadow-sm focus:ring-[var(--color-primario)] focus:border-[var(--color-primario)] w-1/5"
    />
  </div>

  <!-- Tabla de clientes -->
  <app-client-table [clients]="clients"></app-client-table>
</div>
